body {
    background-color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
    margin: auto;
    font-size: 15px;
}

.header {
    background-color: rgb(168, 164, 164);
}

.en {
    text-align: left;
    margin: auto;
}

.logo {
    text-align: center;
}

.login-register-header {
    text-align: right;
}

.content-images {
    background-color: rgb(35, 59, 59);
}

.btn-header {
    text-align: center;
    border-radius: 0px;
    background-color: rgb(168, 164, 164);
    color: black;
    border: none;
    padding: 20px 10px 20px 0px;
    width: 20%;
    font-size: 10px;
}

#img-logo {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
}

.btn-header:hover {
    background-color: rgb(168, 164, 164);
    color: rgb(19, 18, 18);
    border: 2px solid #3a3b3d;
}

.btn {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.content-images {
    width: 70%;
    height: 800px;
    background-image: url('../../../assets/images/img.jpg');
}

#content-img {
    color: white;
    background-color: black;
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 15% auto auto auto;
    padding: 10px 10px 10px 10px;
}

.btn-registernow {
    color: white;
    background-color: red;
    border: none;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    max-width: 220px;
}

input[type=text],
input[type=password] {
    width: 95%;
    padding: 12px 40px 12px 40px;
    margin: 8px 8px 8px 1px;
    border: 2px solid #5f69a3;
    text-align: start;
}

.form-login a[href="#1"] {
    color: black;
}

.input-icons i {
    position: absolute;
    padding: 15px 15px 15px 15px;
    font-size: 24px;
}

#img-top {
    position: absolute;
    right: 1%;
    border-radius: 60px;
    background-color: #5a5a5a;
    padding: 5px 5px 5px 5px;
    margin-top: 700px;
}

.content-login {
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: left;
    padding: 200px 10px 0px 100px;
}

.bottom {
    border-radius: 8px;
    background-color: rgb(90, 90, 90);
    color: black;
    border: none;
    padding: 20px 20px 20px 20px;
}

table {
    margin: auto;
}

#border {
    height: 100px;
    border-right: 10px solid rgb(255, 255, 255);
}

#border-width {
    width: 50%;
}

.btn-login-bottom {
    width: 150px;
    margin-left: 50px;
}

.btn-register-bottom {
    float: left;
    width: 150px;
    margin-left: 50px;
}

@media (max-width: 767.98px) {
    .content-login {
        width: 100%;
        height: 800px;
        background-color: white;
    }
    .content-images {
        width: 100%;
        height: 700px;
        background-image: url('../../../assets/images/img.jpg');
    }
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 30px 12px 50px;
        margin: 8px 8px 8px 1px;
        border: 2px solid #5f69a3;
        text-align: start;
    }
    .bottom {
        border-radius: 8px;
        background-color: rgb(90, 90, 90);
        color: black;
        border: none;
        padding: 20px 20px 20px 20px;
    }
    .btn-login-bottom {
        width: 100px;
        margin-left: 80px;
    }
    .btn-register-bottom {
        float: left;
        width: 100px;
        margin-left: 80px;
    }
}